:root {
  --primary: #041833;
  --light-primary: #1875E8;
  --secondary: #C1F7F5;
  --colour: #444444;
  --white: #FFF;
  --regular-font: 'Raleway', sans-serif;
  --secondary-font: 'Playfair Display', sans-serif;

  font-family: var(--regular-font);
}